*{
    color:aquamarine;
    background-color: black;
}#b{
    color: aqua;
    background-color: black;
    text-align: center;
}
#phone{
    display: flex;
    /* height: 100vh; */
    flex-direction:"row";
    justify-content:space-around; 
    /* align-items:center; */
    /* flex-wrap: wrap;
     align-content: space-evenly; */ 
     background-color: black;
     margin-bottom: 20px;
}
.oneplus{
    margin-top: 0%;
    /* height: 100vh; */
    display: flex;
    background-color: black;
    justify-content: space-around;
}
#google{
    display: flex;
    justify-content: space-around;
    background-color: black;
}
.item1{
    order: 2;
}